[user]
	name = Gautham Chandra
	email = gautham.chandra@live.com
[core]
	excludesfile = /Users/gauthamchandra/.gitignore_global
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[rerere]
	enabled = true
[push]
	default = current
[url "https://"]
	insteadOf = git://
